#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q     &kp W  &kp E  &kp R      &kp T           &kp Y  &kp U     &kp I      &kp O    &kp P
&kp A     &kp S  &kp D  &kp F      &kp G           &kp H  &kp J     &kp K      &kp L    &kp SEMICOLON
&kp Z     &kp X  &kp C  &kp V      &kp B           &kp K  &kp M     &kp COMMA  &kp DOT  &kp RIGHT_SHIFT
&kp LCMD                &kp SPACE  &lt 2 CAPSLOCK  &to 1  &kp BSPC                      &kp ENTER
            >;
        };

        layer_1 {
            bindings = <
&kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5  &kp NUMBER_6  &kp N7  &kp N8  &kp N9  &kp N0
&trans        &trans        &trans        &trans        &trans  &trans        &trans  &trans  &trans  &trans
&trans        &trans        &trans        &trans        &trans  &trans        &trans  &trans  &trans  &trans
&trans                                    &trans        &trans  &trans        &trans                  &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans     &trans        &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans     &trans        &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans     &trans        &trans  &trans  &trans  &trans  &trans
&trans                  &kp SPACE  &kp CAPSLOCK  &trans  &trans                  &trans
            >;
        };
    };
};
